<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Form</title>
</head>
<body>

    <center>
        <h1>Daftar Dulu Bro!</h1>
        <br>
        <form action="/register" method="post">
            <p>
                <label>Email</label>
                <input type="text" name="email">
            </p>

            <p>
                <label>Username</label>
                <input type="text" name="userName">
            </p>

            <p>
                <label>Password</label>
                <input type="password" name="password">
            </p>

            <p>
                <label>Gender</label>
                <input type="radio" name="gender" value="Pria">Pria
                <input type="radio" name="gender" value="Wanita">Wanita
            </p>

            <p>
                <label>Role</label>
                <select name="role">
                    <option selected disabled>---Pilih Satu---</option>
                    <option value="Admin">Admin</option>
                    <option value="User">User</option>
                </select>
            </p>

            <input type="submit" value="Submit">
        </form>
    </center>
    
</body>
</html>